<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
  </head>

  <body style="margin:0; font-family:Arial; background:#f5f6f8;">
    @include('partials/header')
    <main style="padding:20px;">

      {{{ await $slots.main() }}}

    </main>

  </body>
</html>