@props({
    user: null,
    course: null
})

@let(path = request.url())
@let(isCoursePage = path.match(/^\/courses\/\d+/))

@let(courseId = path.split('/')[2])
@let(courseName = 'CP164 - Data Structures')


<header class="navbar">
    <div class="navbar-left">

        <a href="/" class="navbar-logo">
            Palanaeum Learning
        </a>

        <nav class="navbar-links">

            @if(course)

                <a class="navbar-link" href="/courses/{{ course.id }}">
                    {{ course.code }} - {{ course.name }}
                </a>

                <a class="navbar-link" href="/courses/{{ courseId }}/assignments">
                    Assignments
                </a>

                <a class="navbar-link" href="/courses/{{ courseId }}/grades">
                    Grades
                </a>

                <a class="navbar-link" href="/courses/{{ courseId }}/content">
                    Content
                </a>


                @if(user && user.role === 'professor')

                    <a href="/courses/{{ courseId }}/students">
                        Students
                    </a>

                    <a href="/courses/{{ courseId }}/announcements">
                        Announcements
                    </a>

                @endif


            @else

                @if(user && user.role === 'student')

                    <a class="navbar-link" href="/student/dashboard">
                        My Courses
                    </a>


                @elseif(user && user.role === 'professor')

                    <a href="/professor/dashboard">
                        Dashboard
                    </a>

                    <a href="/professor/dashboard">
                        My Courses
                    </a>

                @endif

            @endif
        </nav>
    </div>

    <div class="navbar-right">
        <span>
            {{ user?.fullName ?? 'Guest' }}
        </span>
    </div>

</header>