@let(user = {
    fullName: 'James Smith',
    role: 'student'
})

@let(path = request.url())
@let(isCoursePage = path.includes('/courses/'))

@let(courseId = path.split('/')[2])
@let(courseName = 'CP164 - Data Structures')


<header class="navbar">
    <div class="navbar-left">

        <a href="/" class="navbar-logo">
            Palanaeum Learning
        </a>

        <nav class="navbar-links">

            @if(isCoursePage)

                <a class="navbar-link" href="/courses/{{ courseId }}">
                    CourseName
                </a>

                <a class="navbar-link" href="/courses/{{ courseId }}/assignments">
                    Assignments
                </a>

                <a class="navbar-link" href="/courses/{{ courseId }}/grades">
                    Grades
                </a>

                <a class="navbar-link" href="/courses/{{ courseId }}/content">
                    Content
                </a>

            @elseif(user.role === 'student')

                <a class="navbar-link" href="/">
                    Courses
                </a>

            @endif
        </nav>
    </div>

    <div class="navbar-right">
        <span>
            {{ user.fullName }}
        </span>
    </div>

</header>