@layouts.app({
    user: user
})

<div class="dashboard">

    <div class="dashboard-header">
        <h1 class="dashboard-title">
            Admin Dashboard
        </h1>
    </div>

    <div class="dashboard-grid">

        <a href="{{ urlFor('admin.users') }}" class="card">
            <h2 class="card-title">
                Manage Users
            </h2>
            <p class="card-text">
                View school personnel and control account access.
            </p>
        </a>

    </div>

</div>

@end

