@layouts.app()


<h1>
    Assignments
</h1>


<div class="assignment-list">


    <div class="card">

        <h2>
            Assignment 1
        </h2>

        <p>
            Due: October 10
        </p>


        <a href="/courses/{{ courseId }}/assignments/1">
            View Assignment
        </a>

    </div>


</div>

@end