@layouts.app()

<div class="assignments-page">
    <div class="page-header">

        <h1>
            Assignments
        </h1>

        <a 
            href="/courses/{{ courseId }}/assignments/create"
            class="btn"
        >
            Create Assignment
        </a>
    </div>


    <div class="assignment-list">
        <div class="card">

            <h2>
                Assignment 1
            </h2>

            <p>
                Due: October 10
            </p>

            <p>
                Submissions: 25 / 40
            </p>

        </div>


    </div>

</div>

@end