@layouts.app()

<h1>
    Student Assignments
</h1>

<p>Course ID: {{ courseId }}</p>

<div class="assignment-list">

    @each(a in assignments)

        <div class="card">

            <h2>
                {{ a.name }}
            </h2>

            <p>
                Due: {{ a.due }}
            </p>

            @if(a.submitted)

                <span>
                    Submitted
                </span>

                <br>

                <a href="{{ urlFor('submissions.file', {
                    courseId: courseId,
                    assignmentId: a.id
                }) }}">
                    View File
                </a>

            @else

                <span>
                    Not Submitted
                </span>

                <br>

                <a href="{{ urlFor('submissions.create', {
                    courseId: courseId,
                    assignmentId: a.id
                }) }}">
                    Submit Assignment
                </a>

            @end

        </div>

    @endeach

</div>

@end