<layout.course>

  <slot name="main">

    <h1>Grades</h1>

    @each(g in [
      { name: 'HW1', grade: '85%' },
      { name: 'Quiz', grade: '90%' }
    ])

      <div style="background:white; padding:15px; margin-top:10px;">
        {{ g.name }} — <strong>{{ g.grade }}</strong>
      </div>

    @endeach

  </slot>

</layout.course>