@layouts.app()

<section class="hero">
    <h1>
        Palanaeum Learning
    </h1>

    <p>
        Development Login
    </p>

    <div class="dashboard-links">

        <a href="/student/dashboard">
            Login as Student
        </a>

        <a href="/professor/dashboard">
            Login as Professor
        </a>

        <a href="/admin/dashboard">
            Login as Admin
        </a>
    </div>
</section>

@end