@layouts.app({
    user: user,
    course: course
})

@slot('main')

<div class="grades-page">

    <h1 class="page-title">
        {{ course.code }} - My Grades
    </h1>


    <table class="grades-table">

        <thead>
            <tr>
                <th>Assessment</th>
                <th>Due Date</th>
                <th>Grade</th>
                <th>Status</th>
            </tr>
        </thead>


        <tbody>

            <tr>
                <td>Assignment 1</td>
                <td>Oct 10, 2026</td>
                <td>85%</td>
                <td>Graded</td>
            </tr>


            <tr>
                <td>Midterm</td>
                <td>Nov 5, 2026</td>
                <td>78%</td>
                <td>Graded</td>
            </tr>


            <tr>
                <td>Assignment 2</td>
                <td>Nov 20, 2026</td>
                <td>-</td>
                <td>Pending</td>
            </tr>


        </tbody>

    </table>

</div>

@endslot

@end